@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
}
img {
  max-width: 100%;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em; /* 16px */
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: #E07800;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 1.25rem;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #C7C7C7;
  font-size: 0.875em;
  letter-spacing: 1px;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding: 0.25em 0.5em 0.5em;
  line-height: 1;
}
nav h1 a {
  color: #fff;
  font-size: 1.125rem;
  font-weight: 200;
  letter-spacing: 0.5em;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 0.625rem 1.25rem;
    list-style: none;
    background-color: #eee;
    font-size: 1.0625em; /* 17px */
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

@media screen and (min-width: 40em) {
  nav {
      height: 5em; /* 80px */
  }
  nav h1 {
    padding-top: 1em;
  }
  #breadcrumb {
    padding: 0.625rem 2.5rem 1rem;
    width: 50%;
  }
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
#map .leaflet-control-attribution a {
  color: #00587A;
  text-decoration: underline;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #0072B2;
  align-items: center;
  font-size: 1rem;
  padding: 0.625rem;
  box-sizing: border-box;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0.625rem; /* 10px */
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 0.875em; /* 14px */
  height: 2.1875em; /* 35px */
  letter-spacing: 0;
  margin: 0.625rem; /* 10px */
  padding: 0 0.75em;
  width: 12.5em; /* 200px */
}
@media screen and (max-width: 26em) {
  .filter-options h2, .filter-options select {
    width: 100%; /* mobile view */
  }
}
@media screen and (max-width: 40em) {
  .filter-options h2 {
    width: 100%; /* mobile landscape view */
  }
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0.625rem 0.625rem 1.25rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 0.625rem; /* 10px */
  padding: 0 1.25em 1.25em; /* 20px */
  text-align: left;
  max-width: 20em;
  display: flex;
  flex-direction: column;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #E07800;
  font-family: Arial,sans-serif;
  font-size: 1em;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 1.25rem 0 0.625rem;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 0.875em;
}
#restaurants-list p.streetAddress {
  margin-bottom: 1.25em;
}
#restaurants-list li a {
  background-color: #E07800;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 0.8125em;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.5rem 2rem 0.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-top: auto;
}

@media screen and (min-width: 32em){
  #restaurants-list li{
    width: calc(50% - 1.25rem); /* 50% - margin */
    min-width: 10em;
    max-width: 25em; /* 400px */
  }
  /* uncentering the item(s) in last row */
  /* thanks to https://haizdesign.com/css/flexbox-align-last-item-grid-left/ */
  #restaurants-list:after {
    content: '';
    flex: auto;
  }
}

@media screen and (min-width: 50em){
  #restaurants-list li{
    width: calc(33.333% - 1.25rem); /* 33.333% - margin */
  }
}

/* ====================== Restaurant Details ====================== */

.inside #map:after {
  content: "";
  display: block;
  padding-bottom: 70%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 0.25em 0;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0.25em;
}
#restaurant-container, #reviews-container {
  padding: 0 1.25rem 5rem;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 1.25rem;
  font-weight: 300;
  padding-bottom: 0.5em;
  border-bottom: 2px solid #f58500;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
}
#reviews-list li .name{
  display: inline-block;
  margin: 2rem 0.5rem 1rem 0;
  color: #f58500;
}
#reviews-list li .date{
  font-size: 0.75em;
  color: #666;
  margin-right: 1rem;
}
#reviews-list li .rating{
  font-size: 0.75em;
  display: inline-block;
  color: #666;
}
#reviews-list li .rating span {
  font-size: 1.5rem;
  background: #f58500;
  border-radius: 3em;
  padding: 0 0.25em;
  width: 2.25rem;
  height: 2.25rem;
  display: inline-block;
  text-align: center;
  line-height: 1.5em;
  margin-top: -0.5rem;
  margin-left: 0.5rem;
  color: white;
}
#restaurant-hours {
   border-collapse: collapse; 
   background-color: white;
   width: 100%;
}
#restaurant-hours td {
  color: #444;
  border-bottom: 1px solid #999;
  vertical-align: text-top;
  padding: 0.5em;
}
#restaurant-hours tr td:first-child {
  font-style: italic;
  font-size: 0.875em;
}

@media screen and (min-width: 50em){
  .inside header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .inside #map-container {
    background: blue none repeat scroll 0 0;
    height: 87%;
    position: fixed;
    right: 0;
    top: 5em; /* 80px offset for header area */
    width: 50%;
  }
  #restaurant-container, #reviews-container {
    width: 50%;
  }
  #reviews-list li .rating{
    float: right;
    margin-top: 2rem;
  }
  .inside #footer {
    bottom: 0;
    position: absolute;
    width: 50%;
  }
}
